@import url("contributing.css");
@import url("homepage.css");
@import url("fonts.css");
@import url("search.css");

:root  > * {
  /* Colors from Figma */
  --color-primary:                            #0664D0;
  --color-body-text:                          #1B1D22;
  --color-container-background:               #F9FAFB;
  --color-container-background-0:             #FFFFFF;
  --color-container-background-3:             #0664D0;
  --color-action-background-standard-normal:  #F9FAFB;
  --color-action-background-subtle-selected:  #E1EFFE;
  --color-action-border-standard-normal:      #DDDFE4;
  --color-action-border-bottom-control-normal:#8A93A3;
  --color-action-link-normal:                 #0664D0;    
  --color-accent-background:                  #D7E9FE;
  --color-accent-border:                      #88BEFB;
  --color-accent-text:                        #0660C6;
  --color-action-background-control-normal:   #F9FAFB;
  --color-action-text-control-normal:         #1B1D22;
  --color-action-text-control-placeholder:    #515867;
  --color-action-text-subtle-normal:          #1B1D22;
  --color-action-text-subtle-normal:          #1B1D22;
  --color-container-border-4:                 #DDDFE4;
  --color-status-background-info:             #E1EFFE;
  --color-status-info:                        #0656B2;
  --color-text-primary:                       #0664D0;
  --color-text-primary-inverse:               #FFFFFF;

  /* Spaces from Figma */
  --space-base-null: 0px;
  --space-base-xs: 4px;
  --space-base-s: 8px;
  --space-base-m: 16px;
  --space-base-l: 24px;
  --space-base-xl: 32px;
  --space-base-xxxxxl: 66px;

  --size-container-l: 400px;

  --size-border-radius-xs: 4px;
  --size-border-radius-s: 8px;
  --size-border-width-s: 1px;

  /* Icon sizes from Figma */
  --size-icon-m: 14px;

  /* Fonts from Figma */
  --font-family-primary: "Anova UI";
  --font-family-secondary: "Anova";
  --font-size-body-text: 14px;
  --font-size-body-text-s: 12px;
  --font-size-body-text-m: 14px;
  --font-size-body-text-l: 16px;
  --font-size-body-text-xxl: 20px;
  --font-size-heading-text-l: 16px;
  --font-size-heading-text-xxxxl: 28px;
  --font-size-heading-text-xxxxxl: 36px;
  --font-size-line-height-heading-text-l: 22.4px;
  --font-size-line-height-body-text-s: 16.8px;
  --font-size-line-height-body-text-m: 19.6px;
  --font-size-line-height-body-text-l: 22.4px;
  --font-size-line-height-body-text-xxl: 28px;

  /* Mapping Figma colors to Material Design variables */
  --md-primary-fg-color:               var(--color-container-background); /* Controls the header bar color */
  --md-default-fg-color--lightest:     var(--color-accent-background);  /* Controls the color of the tag boxes */
  --md-default-bg-color:               var(--color-container-background); /* Controls the main background color */
  
  --md-code-bg-color:                  var(--color-container-background-0);
  --md-code-fg-color:                  var(--color-body-text)

  --md-typeset-h1-color:                var(--color-primary);
  --md-typeset-color:                   var(--color-body-text);

  --md-text-font:                       var(--font-family-primary);
  --md-typeset-font:                    var(--font-family-secondary);
  --md-typeset-font-size:               var(--font-size-body-text-l);

  
}

/* Typography */
  .md-typeset h1 {
    color: var(--color-primary);
    font-weight: 700;
    font-size: var(--font-size-heading-text-xxxxxl);
  }

  .md-typeset h2 {
    font-weight: 700;
    font-size: var(--font-size-heading-text-xxxxl);
    font-style: bold;
  }

  .md-typeset h3 {
    font-weight: 700;
    font-size: 20px;
    font-style: bold;
  }

  .md-typeset a {
    color: var(--color-action-link-normal);
    text-decoration: underline;
  }

  .md-typeset {
    font-weight: 400;
    font-size: var(--font-size-body-text-l);
    font-style: normal;
    line-height: var(--font-size-line-height-body-text-l);
    letter-spacing: 0%;
  }


/* Icons */
/* Change the size of all icons to match the design system */
  .md-icon svg{
    height: var(--size-icon-m) !important;
    width: var(--size-icon-m) !important;
  }

/* Header title */
  .md-header {
    color: var(--color-action-text-subtle-normal);
  }

  .md-header__inner {
    background-color: var(--color-container-background-0);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 0px rgba(0, 0, 0, 0.04);

    padding-top: var(--space-base-s);
    padding-right: var(--space-base-xl);
    padding-bottom: var(--space-base-s);
    padding-left: var(--space-base-xl);
  }
  
  .md-header__title {
    color: var(--color-primary);
    height: 26px;
    line-height: 25.2px;
    opacity: 1;
  }

  .md-header__button.md-logo {
    padding: 0px;
    margin: 0px;
  }

  .md-source__icon {
    height: var(--size-icon-m) !important;
    width: var(--size-icon-m) !important;
  }

  .md-source__icon svg {
    margin-top: 0px;
    margin-left: 0px !important;
  }

    /* Right side */
    .md-header__inner {
      display: flex;
    }

    /* The Search icon */
    .md-search {
      order: 0 !important;
    }

    .md-search {
      padding: 0px !important;
    }

    .md-search__inner {
      width: 200px;
      border-bottom: var(--color-action-border-bottom-control-normal) 1px solid;
      padding: 0px !important;
      gap: var(--space-base-xs) !important;
    }

    .md-search__form {
      background-color: var(--color-action-background-control-normal);
      height: 28px;

      display: flex !important;
      flex-direction: row;
      gap: var(--space-base-xs);

      padding-top: var(--space-base-xs) !important;
      padding-right: var(--space-base-s) !important;
      padding-bottom: var(--space-base-xs) !important;
      padding-left: var(--space-base-s) !important;
    }

    .md-search__input {
      order: 1 !important;

      width: 100%;
      padding-top: var(--space-base-xs) !important;
      padding-right: var(--space-base-s) !important;
      padding-bottom: var(--space-base-xs) !important;
      padding-left: var(--space-base-s) !important;
    }

    .md-search__icon {
      order: 3 !important;
      position: relative !important;
      vertical-align: middle !important;
      left: 0px !important;

      height: 20px !important;
      width: var(--size-icon-m) !important;
    }

    .md-search__icon[for=__search] {
      top: 4px;
    }

    .md-search__options {
      order: 2 !important;
      position: relative !important;
      vertical-align: middle !important;
      top: 0px;
      width: 18px;
    }

    .md-search__icon svg {
      height: 12px !important;
      width: 12px !important;
    }

    .md-search__input::placeholder {
      font-family: var(--font-family-primary);
      font-size: var(--font-size-body-text-m);
      color: var(--color-action-text-control-normal);
      opacity: 1;
    }

    .md-search-result__meta {
      background-color: var(--color-action-background-control-normal);
      color: var(--color-action-text-control-normal);
    }

    /* The Language selector (if enabled) */
    .md-header__option {
      order: 1 !important;
    }

    .md-header__button {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    /* The Source (GitHub/GitLab) icon */
    .md-header__source {
      order: 2 !important;
      margin-left: 0px !important;
      width: 75px;
    }

    .md-source__repository {
      max-width: fit-content;
    }

  /* Top navigation tabs */
  .md-tabs__list {
    border-bottom: 1px solid  var(--color-container-border-4);
  }

  .md-tabs__item {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md-tabs__item--active {
    color: var(--color-primary);
    border-bottom: 1px solid  var(--color-primary);
  }

  .md-tabs__link {
    color: var(--color-body-text);
    opacity: 1;

    padding-top: var(--space-base-s);
    padding-right: var(--space-base-m);
    padding-bottom: var(--space-base-s);
    padding-left: var(--space-base-m);
  }

  .md-tabs__link:hover {
    color: var(--color-body-text);
    opacity: 1;
  }

  /* Sidebar navigation links */
  .md-nav__link {
    color: var(--color-body-text) !important;
    font-size: var(--font-size-body-text-m);

    padding-top: var(--space-base-xs) !important;
    padding-bottom: var(--space-base-xs) !important;
    padding-left: var(--space-base-s) !important;
  }

  .md-nav__link:hover {
    color: var(--color-primary) !important;
  }

  .md-nav__link--active {
    background-color: var(--color-action-background-subtle-selected);
    color: var(--color-action-text-subtle-selected) !important;

    border-left-color: var(--color-primary) !important;
    border-left-width: var(--size-border-width-s) !important;
    border-left-style: solid !important;
  }

  

  /* Tags */
  .md-typeset .md-tag {
    border: 1px solid var(--color-accent-border);
    border-radius: 4px;
    color: var(--color-accent-text) !important;

    font-weight: 400;
    font-size: var(--font-size-body-text-s);
    line-height: var(--font-size-line-height-body-text-s);

    padding-top: var(--space-base-xs);
    padding-right: var(--space-base-s);
    padding-bottom: var(--space-base-xs);
    padding-left: var(--space-base-s);

    text-decoration: none;
  }

  .md-tags:not([hidden]) {
    gap: 16px !important; 
    margin-bottom: var(--space-base-xl) !important;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .card {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 256px;
    min-width: 240px;
    max-width: 640px;
    height: 176px;

    /* shadow/depth/x-small */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
  }

  /* Admonitions */
  .admonition.note {
    background-color: var(--color-status-background-info);
  }
  .admonition.note > .admonition-title {
    background-color: var(--color-status-background-info);
    color: var(--color-primary);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body-text-m);
    align-items: center;
  }
  .admonition.note > .admonition-title::before {
    background-color: var(--color-status-info);
    width: var(--size-icon-m);
    height: var(--size-icon-m);
    top: 13.75px;
  }

  .admonition.note > .admonition-title p {
    background-color: var(--color-status-background-info);
  }

  .md-typeset .admonition, 
  .md-typeset details {
    border-top: none;             /* Remove top bar if present */
    border-left: .2rem solid;     /* Standard Material thickness */
    border-right: none;
    border-bottom: none;

    font-size: var(--font-size-body-text-l);
    line-height: var(--font-size-line-height-body-text-l);
    color: var(--color-body-text)
  }

  .md-typeset .admonition.note {
    border-color: var(--color-status-info);
  }

/* Table of Contents */
.md-nav__title {
  color: #000000
}

/* Vertical dividers */
.md-sidebar--primary .md-sidebar__scrollwrap {
    border-right: 1px solid var(--color-container-border-4);
}

.md-sidebar--secondary .md-sidebar__scrollwrap {
    border-left: 1px solid var(--color-container-border-4);
}

/* Glossary */
.md-typeset table:not([class]) {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.md-typeset table:not([class]) td, th {
  vertical-align: middle;
  border-right: 1px solid var(--color-container-border-4);
  border-collapse: collapse;

  background-color: var(--color-container-background-0);

  padding-bottom: var(--space-base-m);
  padding-top: var(--space-base-m);
  padding-left: var(--space-base-l);
  padding-right: var(--space-base-l);
}